---

---

<div class="visibleOnScroll">
  <slot />
</div>

<style>
  .visibleOnScroll {
    opacity: 0;
    transform: translateY(40px);
  }

  .visibleOnScroll.visible {
    opacity: 1; /* 透明度を1にして表示 */
    transition:
      opacity 0.75s ease-out,
      transform 0.75s ease-out; /* アニメーションの定義 */

    transform: translateY(0); /* 元の位置に移動 */
  }
</style>

<script>
  // 全ての.visibleOnScrollコンポーネントを取得(ただし.visibleは除く)
  const visibleOnScrollComponents = document.querySelectorAll(
    '.visibleOnScroll:not(.visible)'
  )

  // スクロールイベントを監視
  window.addEventListener('scroll', () => {
    visibleOnScrollComponents.forEach((c) => {
      if (!isElementInViewport(c)) {
        return
      }
      // 要素が画面内に入ったら
      c.classList.add('visible')
    })
  })

  /**
   * スクロールにより対象の要素が表示されたか判定
   * @param el
   */
  function isElementInViewport(el: Element) {
    const viewportHeight = window.innerHeight
    const elementTop = el.getBoundingClientRect().top

    // 画面全体の90%までスクロールしたら表示
    // DEBUG
    console.log('TEST_elementTop: ')
    console.log(elementTop)
    // DEBUG
    console.log('TEST_viewportHeight: ')
    console.log(viewportHeight)
    // DEBUG
    console.log('TEST_elementTop <= viewportHeight * 0.9: ')
    console.log(elementTop <= viewportHeight * 0.9)

    return elementTop <= viewportHeight * 0.9
  }
</script>
