{
  "trailingComma": "es5",
  "singleQuote": true,
  "plugins": [
    "prettier-plugin-astro",
    "prettier-plugin-organize-imports",
    "prettier-plugin-astro-organize-imports"
  ],
  "astroOrganizeImportsMode": "SortAndCombine",
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    },
    {
      "files": [
        "*.ts",
        "*.astro"
      ],
      "options": {
        "semi": false
      }
    }
  ]
}