---
import VisibleOnScrollComponent from '@/components/animation/VisibleOnScroll.astro'
import Layout from '@/layouts/_Layout.astro'
---

<Layout title="" description="" path={Astro.url.pathname}>
  {
    Array.from({ length: 15 }).map((_, i) => (
      <div class="container">
        <h2>サンプル {i}</h2>
        <VisibleOnScrollComponent>
          <p>スクロールで表示 {i}</p>
        </VisibleOnScrollComponent>
      </div>
    ))
  }
</Layout>

<style>
  .container {
    height: 15rem;
  }
</style>
