---
import SearchButton from '@/components/button/SearchButton.astro'
import Layout from '@/layouts/_Layout.astro'
---

<Layout title="" description="" path={Astro.url.pathname}>
  <div class="container">
    <SearchButton />
  </div>
</Layout>

<style>
  .container {
    display: grid;
    grid-gap: 1rem;
  }
</style>
