.main header {
  padding: 0 0 20px;
}

.main footer {
  padding: 40px 0 0;
  margin: 0 auto;
  border-top: 1px dashed #888;
}

@media (width <= 640px) {
  .main footer {
    margin: 0 auto 40px;
  }
}

.post {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 auto 40px;
}

.post footer {
  width: 100%;
  padding: 0;
  border: 0;
}
