.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main header {
  padding: 0 0 20px;
}

.main footer {
  padding: 40px 0 0;
  margin: 0 auto;
}

@media (width <= 640px) {
  .main footer {
    margin: 0 auto 40px;
  }
}

.post {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  &:not(:last-of-type) {
    padding-bottom: 1rem;
    border-bottom: 1px solid;
  }
}

.post footer {
  width: 100%;
  padding: 0;
  border: 0;
}

.aside {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tagDateWrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.postContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
