:root {
  --color--cafe-au-lait: #a67b5b;
  --color--cafe-au-lait--rgb: 166 123 91;
  --color--cafe-au-lait--faux-camaieu-1: #977e4d;
  --color--cafe-au-lait--faux-camaieu-2: #c5a57f;
  --color--cafe-au-lait--faux-camaieu-3: #b56e59;
  --color--cafe-au-lait--faux-camaieu-4: #a67b5b;
  --color--cafe-au-lait--faux-camaieu-5: #b37c6f;
}
