.gray,
.gray:hover {
  color: rgb(120 119 116 / 100%);
}

.brown,
.brown:hover {
  color: rgb(159 107 83 / 100%);
}

.orange,
.orange:hover {
  color: rgb(217 115 13 / 100%);
}

.yellow,
.yellow:hover {
  color: rgb(203 145 47 / 100%);
}

.green,
.green:hover {
  color: rgb(68 131 97 / 100%);
}

.blue,
.blue:hover {
  color: rgb(51 126 169 / 100%);
}

.purple,
.purple:hover {
  color: rgb(144 101 176 / 100%);
}

.pink,
.pink:hover {
  color: rgb(193 76 138 / 100%);
}

.red,
.red:hover {
  color: rgb(212 76 71 / 100%);
}

.gray-background {
  background: rgb(241 241 239 / 100%) !important;
}

.brown-background {
  background: rgb(244 238 238 / 100%) !important;
}

.orange-background {
  background: rgb(251 236 221 / 100%) !important;
}

.yellow-background {
  background: rgb(251 243 219 / 100%) !important;
}

.green-background {
  background: rgb(237 243 236 / 100%) !important;
}

.blue-background {
  background: rgb(231 243 248 / 100%) !important;
}

.purple-background {
  background: rgb(244 240 247 / 80%) !important;
}

.pink-background {
  background: rgb(249 238 243 / 80%) !important;
}

.red-background {
  background: rgb(253 235 236 / 100%) !important;
}

.tag.light-gray {
  color: rgb(28 56 41);
  background: rgb(227 226 224 / 50%) !important;
}

.tag.gray {
  color: rgb(28 56 41);
  background: rgb(227 226 224) !important;
}

.tag.brown {
  color: rgb(28 56 41);
  background: rgb(238 224 218) !important;
}

.tag.orange {
  color: rgb(28 56 41);
  background: rgb(250 222 201) !important;
}

.tag.yellow {
  color: rgb(28 56 41);
  background: rgb(253 236 200) !important;
}

.tag.green {
  color: rgb(28 56 41);
  background: rgb(219 237 219) !important;
}

.tag.blue {
  color: rgb(28 56 41);
  background: rgb(211 229 239) !important;
}

.tag.purple {
  color: rgb(28 56 41);
  background: rgb(232 222 238) !important;
}

.tag.pink {
  color: rgb(28 56 41);
  background: rgb(245 224 233) !important;
}

.tag.red {
  color: rgb(28 56 41);
  background: rgb(255 226 221) !important;
}
