---
import {
  HamburgerMenuItem,
  HamburgerMenuList,
  HamburgerMenuSection,
  HamburgerMenuSnsItem,
} from '@/components/header/hamburger-menu'
import Layout from '@/layouts/_Layout.astro'
---

<Layout title="" description="" path={Astro.url.pathname}>
  <nav aria-label="hamburger-menu">
    <HamburgerMenuList>
      <HamburgerMenuSection title="Cafe">
        <HamburgerMenuItem url="/" label="Home" />
      </HamburgerMenuSection>
      <HamburgerMenuSection title="Posts">
        <HamburgerMenuItem url="/posts" label="All" />
        <HamburgerMenuItem url="/posts/blog" label="Blog" />
      </HamburgerMenuSection>
      <HamburgerMenuSection title="SNS">
        <HamburgerMenuSnsItem sns="x" />
        <HamburgerMenuSnsItem sns="instagram" />
      </HamburgerMenuSection>
    </HamburgerMenuList>
  </nav>
</Layout>

<style></style>
