---
import type { Post, SelectProperty } from '../../lib/interfaces.ts'
import PostTag from './PostTag.astro'
import PostTagLink from './PostTagLink.astro'

export interface Props {
  post: Post
  enableLink: boolean
}

const { post, enableLink = true } = Astro.props
---

<div class="post-tags">
  {
    post.Tags &&
      post.Tags.length > 0 &&
      post.Tags.map((tag: SelectProperty) => {
        if (enableLink) {
          return <PostTagLink tag={tag} />
        }
        return <PostTag tag={tag} />
      })
  }
</div>

<style>
  .post-tags {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    gap: 6px;
    font-size: 0.9rem;
  }
</style>
