---
import ShowMb from '@/components/ShowMb.astro'
import ShowPc from '@/components/ShowPc.astro'
import LinkItem from '@/components/header/LinkItem.astro'
import LinkList from '@/components/header/LinkList.astro'
import LogoCafe from '@/components/header/LogoCafe.astro'
import SnsItem from '@/components/header/SnsItem.astro'
import HambergerMenuItem from '@/components/header/hamburger-menu/HamburgerMenuItem.astro'
import HambergerMenuList from '@/components/header/hamburger-menu/HamburgerMenuList.astro'
import HambergerMenuSection from '@/components/header/hamburger-menu/HamburgerMenuSection.astro'
---

<header class="fonts new-tegomin-regular">
  <LogoCafe />

  <ShowPc>
    <nav class="links" aria-label="links">
      <LinkList outline="Cafe">
        <LinkItem link="/" label="Home" />
      </LinkList>
      <LinkList outline="Posts">
        <LinkItem link="/posts" label="ALL" />
        <LinkItem link="/posts/blog" label="blog" />
        <!-- <LinkItem link="/posts/cafe-info" label="info" /> -->
      </LinkList>
      <LinkList outline="SNS" top="-15px">
        <SnsItem sns="x" />
        <SnsItem sns="instagram" />
      </LinkList>
    </nav>
  </ShowPc>

  <ShowMb>
    <nav class="hamburger-menu show-sp" aria-label="hamburger-menu">
      <HambergerMenuList>
        <HambergerMenuSection title="Cafe">
          <HambergerMenuItem link="/" label="Home" />
        </HambergerMenuSection>
      </HambergerMenuList>
    </nav>
  </ShowMb>

  <style>
    header {
      position: fixed;
      top: 0;
      z-index: var(--z-index-10000);
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 16px;
      background-color: rgb(var(--color--cafe-au-lait--rgb) 0.8);
    }

    .links {
      --list-min-height: 40px;

      display: flex;
      gap: 1.5rem;
      align-items: center;
      justify-content: center;
    }

    hr {
      height: 1.5rem;
      border-right: 1px solid var(--fg);
    }

    @media (width <= 640px) {
      header {
        padding: 0 16px 16px;
      }
    }
  </style>
</header>
