---
import type { SelectProperty } from '../lib/interfaces.ts'
import NoContents from './NoContents.astro'
import PostTagLink from './post-tag/PostTagLink.astro'

export interface Props {
  heading: string
  tags: SelectProperty[]
}

const { heading, tags } = Astro.props
---

<div class="blog-tags-link">
  <h2>{heading}</h2>
  {
    tags.length === 0 ? (
      <NoContents contents={tags} />
    ) : (
      <ul>
        {tags.map((tag: SelectProperty) => (
          <li>
            <PostTagLink tag={tag} />
          </li>
        ))}
      </ul>
    )
  }
</div>

<style>
  .blog-tags-link h2 {
    padding-left: 0.4rem;
    font-size: 1.1rem;
    color: var(--color--cafe-au-lait--faux-camaieu-1);
  }

  .blog-tags-link ul {
    padding: 0;
    margin-block-end: 1rem;
    margin-top: 0.3rem;
    list-style-type: none;
  }

  .blog-tags-link ul li {
    position: relative;
    gap: 6px;
    padding: 0.4rem;
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
</style>
