---
import { filePath } from '../lib/blog-helpers.ts'
import type { FileObject } from '../lib/interfaces'

export interface Props {
  Cover: FileObject | null
}
const { Cover } = Astro.props

if (!Cover) return

const fetchCoverImage = () => {
  try {
    // 開発環境ではNotionからそのまま画像を引っ張ってくる。それ以外では事前にNotionから引っ張ってきて自サイトに保持しておいた画像を利用する。
    return import.meta.env.DEV ? Cover.Url : filePath(new URL(Cover.Url))
  } catch (err) {
    throw new Error('Invalid DB cover image URL')
  }
}

const getCoverImageURL = (Cover: FileObject) => {
  try {
    switch (Cover.Type) {
      case 'external':
        return Cover.Url
      case 'file':
        return fetchCoverImage()
      default:
        throw new Error('Unknow cover image type')
    }
  } catch (e) {
    console.error(e)
    return null
  }
}

const coverImageURL = getCoverImageURL(Cover)
---

<header>
  {
    coverImageURL && (
      <div class="cover">
        <img src={coverImageURL} alt="Site cover image" loading="lazy" />
      </div>
    )
  }
</header>

<style>
  .cover {
  }
  .cover img {
    display: block;
    width: 100%;
    height: 20vh;
    object-fit: cover;
    object-position: center 60%;
  }
</style>
