---

---

<div>
  <span>Powered by&nbsp;</span>
  <a href="https://github.com/otoyo/astro-notion-blog">astro-notion-blog</a>
</div>

<style>
  div {
    font-size: 0.75rem;
    text-align: center;
  }

  div span {
    color: #777;
  }

  div a {
    color: inherit;
    text-decoration: underline;
  }
</style>
