---
import GoogleMapComponent from '@/components/embed/GoogleMap.astro'
import Layout from '@/layouts/_Layout.astro'
import { GOOGLE_MAP_API_KEY } from '@/server-constants'
---

<Layout title="" description="" path={Astro.url.pathname}>
  <div class="container">
    <GoogleMapComponent
      apiKey={GOOGLE_MAP_API_KEY}
      place="東京都渋谷区神宮前 1-1-1"
    />
  </div>
</Layout>

<style>
  .container {
    width: 30vw;
    aspect-ratio: 1 / 1;
  }
</style>
