---

---

<style>
  thead {
    border-block: 3px double #77735a;
  }

  tbody:hover td {
    /* ①table が hover されたら td 全体にスタイルを適用 */
    color: #77735a;
    background-color: #f4f3ef;
  }

  tbody:hover tr:hover td {
    /* ②更に hover されている特定列だけにスタイルを適用 */
    color: #111;
    background-color: #fff;
  }
</style>

<table>
  <thead>
    <tr>
      <th>プラン名</th>
      <th>価格</th>
      <th>容量</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Aプラン</td>
      <td>1,000円</td>
      <td>100GB</td>
    </tr>
    <tr>
      <td>Bプラン</td>
      <td>1,200円</td>
      <td>120GB</td>
    </tr>
    <tr>
      <td>Cプラン</td>
      <td>1,500円</td>
      <td>150GB</td>
    </tr>
    <tr>
      <td>Dプラン</td>
      <td>1,700円</td>
      <td>170GB</td>
    </tr>
    <tr>
      <td>Eプラン</td>
      <td>1,900円</td>
      <td>190GB</td>
    </tr>
    <tr>
      <td>Fプラン</td>
      <td><strong>2,100円</strong></td>
      <td><strong>210GB</strong></td>
    </tr>
    <tr>
      <td>Gプラン</td>
      <td>2,400円</td>
      <td>240GB</td>
    </tr>
    <tr>
      <td>Hプラン</td>
      <td>2,700円</td>
      <td>270GB</td>
    </tr>
    <tr>
      <td>Iプラン</td>
      <td>2,900円</td>
      <td>290GB</td>
    </tr>
    <tr>
      <td>Jプラン</td>
      <td>3,200円</td>
      <td>320GB</td>
    </tr>
    <tr>
      <td>Kプラン</td>
      <td>3,500円</td>
      <td>350GB</td>
    </tr>
    <tr>
      <td>Lプラン</td>
      <td>9,990円</td>
      <td>999GB</td>
    </tr>
  </tbody>
</table>
