---
import GlobalLayout from '@/layouts/GlobalLayout.astro'
import { kebabToPascal } from '@/lib/text'

export interface Props {
  title: string
  description: string
  path: string
}

const { title, description, path } = Astro.props

const pageName = Astro.url.pathname.split('/').pop() || Astro.url.pathname
---

<GlobalLayout title={title} description={description} siteURL={path}>
  <main slot="body">
    <nav class="nav-home">←<a href="/">HOME</a></nav>
    <h1>
      {kebabToPascal(pageName)}
    </h1>
    <div class="container">
      <slot name="main" />
    </div>
  </main>
</GlobalLayout>

<style>
  main {
    max-width: 100vw;
    min-height: 100vh;
    background-color: rgb(#000 / 15%);
    background-size: cover;
  }

  .nav-home {
    font-size: 1.4rem;
  }

  .container {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 90dvw;
    height: 90dvh;
    margin: 0 auto;
    overflow: auto;
    border: 1px solid #000;
  }
</style>
