---
import GlobalLayout from '@/layouts/GlobalLayout.astro'

export interface Props {
  title: string
  description: string
  path: string
  ogImage?: string
}

const { title, description, path, ogImage } = Astro.props as Props
---

<GlobalLayout
  title={title}
  description={description}
  siteURL={''}
  ogImage={ogImage}
>
  <main slot="body">
    <slot name="main" />
  </main>
</GlobalLayout>

<style>
  main {
    max-width: 100vw;
    min-height: 100vh;
    background-color: rgb(#000 / 15%);
    background-image: url('/assets/texture/black-paper_38.jpg');
    background-size: cover;
  }

  footer {
    font-size: 0.75rem;
    text-align: center;
  }
</style>
