---
import CardSample from '@/components/card/CardSample.astro'
import Layout from '@/layouts/_Layout.astro'
---

<Layout title="" description="" path={Astro.url.pathname}>
  <h2>auto-fill: 余ったスペースを「追加のgridで」埋める</h2>
  <div class="grid auto-fill">
    <CardSample pattern={1} class="sub-grid" />
    <CardSample pattern={2} class="sub-grid" />
    <CardSample pattern={3} class="sub-grid" />
  </div>

  <h2>auto-fit: 余ったスペースを「既存のgridで」埋める</h2>
  <div class="grid auto-fit">
    <CardSample pattern={1} class="sub-grid" />
    <CardSample pattern={2} class="sub-grid" />
    <CardSample pattern={3} class="sub-grid" />
  </div>
</Layout>

<style>
  .grid {
    --_column-size: minmax(280px, 1fr);

    display: grid;
    gap: 1rem;
    justify-content: center;
    padding-inline: 2rem;

    /* main grid では sub grid を縦n列に並べる。auto-* を使う場合はminmaxじゃないとうまく動作しない。 */
    &.auto-fill {
      grid-template-columns: repeat(auto-fill, var(--_column-size));
    }

    &.auto-fit {
      grid-template-columns: repeat(auto-fit, var(--_column-size));
    }
  }

  .grid > :global(.sub-grid) {
    display: grid;
    grid-template-rows: subgrid; /* 行を sub grid にすることで main grid を行分割する */
    grid-row: span 3; /* sub grid が1-3行目を専有するよう指定 */
    gap: 1rem;
  }
</style>
